# Binaries
bin/
*.exe
*.test
*.prof

# Environment variables
.env
.env.local
.env.*.local

# Frontend dependencies
node_modules/
dist-ssr/
*.local

# Exception for production build
!admin-frontend/dist/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
